.footer {
    text-align: center;
    padding: 1rem; /* Adjust padding if needed */
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; /* Ensure items wrap correctly on smaller screens */
}

.social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-link:hover .icon {
    transform: scale(1.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-link .icon {
    font-size: 2rem; /* Default size */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Specific size for Hashnode icon */
.social-link .fa-hashnode {
    font-size: 1.5rem; /* Adjust the size as needed */
}

@media (max-width: 768px) {
    .social-links {
        flex-direction: column; /* Stack icons vertically */
        gap: 1rem; /* Adjust the gap for vertical spacing */
    }
}
